{% extends "inner_layout.html" %}

{% block title  %}
    Short Leave List
{% endblock %}

{% block content %}

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Apply Short Leaves</h4>
          <button type="button" id="dismiss-modal-btn" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form id="ajax-form">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Day</label>
                        <input type="date"  class="form-control" name="date" placeholder="Select Date" min={new Date().toISOString().split('T')[0]}>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Out Time</label>
                        <input type="time" class="form-control" name="leave_start" placeholder="Out Time" min="09:00" max="18:00">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">In Time</label>
                        <input type="time" class="form-control" name="leave_end" placeholder="In Time" min="10:00" max="19:00">
                    </div>
                    <div class="form-group">
                        <label>Reason:</label>
                        <textarea class="form-control" rows="3" name="reason" style="height: 88px;"></textarea>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
              </form>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bordered Table</h3>
              <a href="javascript:void(0);" class="btn btn-primary float-right" data-toggle="modal" data-target="#modal-default">Add Short Leave</a>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Date</th>
                    <th>Out Time</th>
                    <th>In Time</th>
                    <th>View</th>
                    <th style="width: 40px">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for leavedata in leaveRequestData %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ leavedata.date }}</td>
                      <td>{{ leavedata.leave_start }}</td>
                      <td>{{ leavedata.leave_end }}</td>
                      
                      <td><a href="javascript:void(0);" class="btn btn-info"><i class="fas fa-eye"></i></a></td>
                      <td><span class="badge bg-danger">Pending</span></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <ul class="pagination pagination-sm m-0 float-right">
                {% if leaveRequestData.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ leaveRequestData.previous_page_number }}">«</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="javascript:void(0);"><span>Page {{ leaveRequestData.number }} of {{ page.paginator.num_pages }}</span></a></li>
                {% if leaveRequestData.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ leaveRequestData.next_page_number }}">»</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <!-- /.card -->

    
        </div>
      
      </div>


 
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
    <script>
        document.getElementById("ajax-form").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission

            const formData = new FormData(this); // Collect form data

            // Send AJAX request
            fetch('/employee/apply-short-leave/', {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value, // For Django
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log('response data', data)
                location.reload();
            })
            .catch(error => {
                console.log('response error', error)
                $('#modal-default').modal('hide');
                // Handle error
                // document.getElementById("response").innerHTML = `<p>Error: ${error.message}</p>`;
            });
        });
    </script>
{% endblock %}
